*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

/*::-webkit-scrollbar{
    width:10px;
    transition: 0.5s ease-in-out;
    
}
 ::-webkit-scrollbar-track{
     background-color: #f1f1f1;
     padding:5px;
     
 }
 ::-webkit-scrollbar-thumb{
     background: #888;
     &:hover{
         background: rgb(160, 37, 37);
     }
 }*/
.welcome-page{
    position: relative;
width:100%;
height: 100%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(238, 238, 238);
.cont{
    position: relative;
    width:50%;
    height: 50%;
    left:calc(50% - 25%);
    top:calc(50% - 25%);
    text-align: center;
h3{
    margin-top:-30px;
    color:rgb(53, 53, 53);
}
}
}

.md-btn-add{
    display: none;
}

.main-page{
    position: relative;
    width:100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    display: none;

    .container{
        position: relative;
        width: 72%;
        height: 67%;
        background-color: rgb(255, 255, 255);
        top:80px;
        padding:15px;
        overflow: hidden;
        .cards{
            position: relative;
          height: 100%;
            width: 140%;
            display: flex;
        .card{
            position: relative;
            width: 27%;
           height:100%;
            background: white;
            margin-left: 40px;
            transition: 0.3s;
            box-shadow: 0 5px 20px rgba(0,0,0,0.15);
            img{
                width:100%;
                height: 100%;
            }
           &:nth-child(1){
                left:25%;
                width:470px;
            }
           &:nth-child(2){
                left:25%;
                .add-text{
                    width:100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                    &:hover{
                        background-color: rgba(101, 230, 235,0.4);
                        border:2px solid rgb(24, 152, 184);
                    }
                }
            }
            &:nth-child(3){
                left:23%;
            }
            &:nth-child(4){
                left:25%;
            }
        }
      
    }
}


    .empy{
        position: fixed;
        right:0;
        top:80px;
        width:28%;
        height: 67%;
        background-color: rgb(255, 255, 255);
        box-shadow: -5px -5px 10px rgb(211, 211, 211);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding:20px;
        text-align: center;
        display: block;
        .emp{
            width:100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        p{
           display: flex;
           color:rgb(68, 68, 68);
           font-size: 16px;
        }
    }
    }

   #md-section{
       display: none;
   }

    .side-bar{
        position: fixed;
        right:0;
        top:80px;
        max-width: 700px;
        width:28%;
        height: 67%;
        background-color: rgb(255, 255, 255);
        box-shadow: -5px -5px 10px rgb(226, 226, 226);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow: hidden;
        display: none;
input[type="radio"]{
    display: none;
}
        #size:checked ~ nav .slider{
            left:21%;
        }
        #color:checked ~ nav .slider{
            left:42%;
        }
        #align:checked ~ nav .slider{
            left:60%;
        }

        #font:checked ~ section .content-1{
            display: block;
        }
        #size:checked ~ section .content-2{
            display: block;
        }
        #color:checked ~ section .content-3{
            display: block;
        }
        #align:checked ~ section .content-4{
            display: block;
        }
     section .content{
         display: none;
         padding: 20px;

     }
     section .content-1 .fonts .c1{
         display: block;
         appearance: none;
         border-radius: 50%;
         outline: none;
         position: relative;
    }
    section .content-1 .fonts .r1{
        width: 100%;
        padding:18px;
        border:1px solid rgb(150, 52, 52);
        border-radius: 10px;
        display: inline-flex;
        position: relative;
        margin-top:10px;
        label{
            position: relative;
            font-weight: bold;
            font-size: 20px;
            left:20px;
            color:rgb(46, 46, 46);
            cursor: pointer;
        }
        input[type="radio"]{
            position: relative;
            width:26px;
            height: 26px;
            border:2px solid rgb(150, 52, 52);
            &::after{
                content:" ";
                width:20px;
                height: 20px;
                position: absolute;
                background-color: rgb(160, 37, 37);
                left:calc(50% - 10px);
                top:calc(50% - 10px);
                border-radius: 50%;
               display: none;
               transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
            &:checked:after{
                display: block;
            }
            &::before{
                content:" ";
                width:10px;
                height: 10px;
                position: absolute;
                background-color: rgb(255, 255, 255);
                left:calc(50% - 5px);
                top:calc(50% - 5px);
                border-radius: 50%;
               display: none;
               transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
            &:checked::before{
                display: block;
                z-index: 1;
            }
        }

       
        img{
            position: absolute;
            display: none;
        }
    }
    section .content-1 .fonts{
        position: relative;
        height:300px;
        overflow: auto;
        top:30px;
    }
    section .content-2 .fonts-size{
        position: relative;
        height:300px;
        overflow: auto;
        top:30px;
        button{
            width:45px;
            height: 45px;
            border:1px solid rgb(36, 36, 36);
            margin-left:15px;
            margin-top: 20px;
            outline: none;
            background-color: transparent;
            font-size: 17px;
            font-weight: bold;
            border-radius: 7px;
            transition: 0.3s ease-in-out;
        }
    }
section .content-3 .colors{
    position: relative;
    height:300px;
    overflow: auto;
    top:10px;
    button{
        position: relative;
        width:50px;
        height:50px;
        background-color: white;
        border:1px solid black;
        margin-left:10px;
        margin-top:10px;
        border-radius: 7px;
        outline: none;
        &:nth-child(1)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: black;
        }
        &:nth-child(2)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: red;
        }
        &:nth-child(3)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: green;
        }
        &:nth-child(4)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color:rgb(240, 98, 122);
        }
        &:nth-child(5)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(92, 9, 148);
        }
        &:nth-child(6)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(221, 131, 12);
        }
        &:nth-child(7)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(26, 7, 107);
        }
        &:nth-child(8)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(3, 49, 3);
        }
        &:nth-child(9)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(206, 36, 149);
        }

        &:nth-child(10)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(107, 107, 107);
        }
        &:nth-child(11)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(156, 91, 16);
        }
        &:nth-child(12)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(51, 12, 112);
        }
        &:nth-child(13)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(16, 99, 148);
        }
        &:nth-child(14)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(201, 34, 145);
        }
        
        &:nth-child(15)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(0, 107, 150);
        }
        &:nth-child(16)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(45, 36, 165);
        }
        &:nth-child(17)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(117, 8, 8);
        }

        &:nth-child(18)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(0, 53, 0);
        }
        &:nth-child(19)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(216, 161, 11);
        }
        &:nth-child(20)::before{
            content: " ";
            width:40px;
            height: 40px;
            position:absolute;
            left:calc(50% - 20px);
            top:calc(50% - 20px);
            border-radius: 5px;
            background-color: rgb(168, 204, 8);
        }
      
        
    }
}
    section .content-1 h3,.content-2 h3,.content-3 h3,.content-4 h3{
        text-align: center;
    }
section .content .title{
    margin-top:10px;
}
section{
    position: relative;
    top:50px;
}
nav{
    position: relative;
    width:100%;
    max-width: 700px;
    background-color: white;
    .head{
        position: relative;
        width:100%;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid rgb(211, 211, 211);

        .slider{
            position: absolute;
            height: 4px;
            width:50px;
            background-color: rgb(170, 26, 26) ;
            bottom:-60px;
            left:3%;
            border-radius: 3px;
            transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
        }
        label{
            position: absolute;
            padding: 15px;
            height: 50px;
            cursor: pointer;
            &:nth-child(2){
                left:20%;
            }
            &:nth-child(3){
                left:40%;
            }
            &:nth-child(4){
                left:60%;
            }
        }
        .done{
            position: absolute;
            left:78%;
            width:70px;
            top:5px;
            border-radius: 5px;
            box-shadow: 3px 3px 6px rgb(236, 65, 65);

            
        }
        #side-bar{
            display: none;
        }
//labe child
 .color{
                #color-fill{
                    position: relative;
                    top:-2px;
                    width:30px;
                    height: 30px;
                    border-radius: 5px;
                    background-color: black;
                    transition: 0.3s ease-in-out;
                }
            }


        button{
            position: relative;
            padding:10px;
            height: 45px;
            outline:none;
            border:none;
            width:100px;
            background-color: rgb(160, 37, 37);
            font-size: 17px;
            font-weight: bold;
            color:white;
        }
    }
}
    }

    .display-bar{
        position: fixed;
        width:100%;
        height: 20%;
        bottom: 0;
        background-color: rgb(250, 250, 250);
        .nav{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -20%;
            margin-top: 30px;
        }
        
        .cards-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 9cm;
            padding-left: 20px;
            
        }
        
        .card-nav{
            width: 2cm;
            height: 13vh;
            background: white;
            box-shadow: 0 5px 20px rgba(0,0,0,0.15);
            img{
                width:100%;
                height:100%;
            }
        }
        .btn-add{
          position: absolute;
          right:0;
          top:30px;
          margin-right: 40px;
          button{
              padding:13px;
              width:170px;
              outline: none;
              &:nth-child(1){
                border:2px solid rgb(160, 37, 37);
                color: rgb(160, 37, 37);
                font-size: 17px;
                font-weight: bold;
                background-color: rgb(243, 243, 243);
                border-radius: 10px;
                transition: 0.5s ease-in-out;
                &:hover{
                    background-color: rgb(255, 255, 255);
                }
            }
            &:nth-child(2){
                border:2px solidrgb(160, 37, 37);
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: bold;
                background-color: rgb(180, 34, 34);
                border-radius: 10px;
                transition: 0.5s ease-in-out;
                border:none;
                &:hover{
                    opacity: 0.8;
                }
            }
          }
        }  
    }



.horizontal{
    display: inline-flex;
    margin-top:30px;
    width:100%;
    p{
        font-size: 17px;
        text-transform: capitalize;
    }
    button{
        padding:5px;
        width:40px;
        height: 40px;
        border:1px solid black;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
        margin-left: 10px;
    }
}
}



/*media screen min-width of 768px*/
@media screen and(max-width:768px){


  .main-page{

.md-btn-add{
    display: block;
    position: fixed;
    display: flex;
    width:100%;
    top:0;
    padding:5px;
    float:right;
    button{
        margin-left:10px;
    }
}
    .container{
        width:100%;
        height: 72%;
        overflow: hidden;
        .cards{
            width: 400%;
            .card{
                margin-left:5px;
                width:100%;
                &:nth-child(1){
                    left:0;
                    width: 100%;
                }
                &:nth-child(2){
                    left:10px;
                    width: 100%;
                }
                &:nth-child(3){
                    left:10px;
                    width: 100%;
                }
                &:nth-child(4){
                    left:10px;
                    width: 100%;
                }
            }
        }
    }

    .side-bar{
       display: none;
       visibility: hidden;
    }

.empy{
    display: none;
}

.display-bar{
 height: 15%;
 .nav{
    margin-top:0px;
    margin-left: -15px;
    .cards-nav{
        padding:5px;
        .card-nav{
            margin-left: 5px;
        }
    }
}
}
    .btn-add{
     display: none;
    }
    #pre{
        width:150px;
        padding:13px;
        font-size: 16px;
        border-radius: 8px;
        margin-left: 15%;
        background-color: white;
        font-weight: bolder;
    }
    #bas{
        width:150px;
        padding:13px;
        font-size: 17px;
        border-radius: 8px;
        background-color: rgb(206, 53, 53);
        color:white;
        font-weight: bold;
        border:none;
        outline:none;
    }
}
#side-bar{
    position: relative;
    width:100%;
    top:0;

    #md-size:checked ~ nav .slider{
        left:21%;
    }
    #md-color:checked ~ nav .slider{
        left:42%;
    }
    #md-align:checked ~ nav .slider{
        left:60%;
    }
    input[type="radio"]{
        display: none;
    }
    #md-font:checked ~ section .content-1{
        display: block;
    }
    #md-size:checked ~ section .content-2{
        display: block;
    }
    #md-color:checked ~ section .content-3{
        display: block;
    }
    #md-align:checked ~ section .content-4{
        display: block;
    }
    .slider{
        position: absolute;
        height: 4px;
        width:50px;
        background-color: rgb(170, 26, 26) ;
        bottom: 0;
        left:20px;
        border-radius: 3px;
        transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }


    section .content{
        position: relative;
        display: none;
        padding: 20px;


    }
    section .content-1 .fonts .c1{
        display: block;
        appearance: none;
        border-radius: 50%;
        outline: none;
        position: relative;
   }
   section .content-1 .fonts .r1{
       width: 100%;
       padding:18px;
       border:1px solid rgb(150, 52, 52);
       border-radius: 10px;
       display: inline-flex;
       position: relative;
       margin-top:10px;
       label{
           position: relative;
           font-weight: bold;
           font-size: 20px;
           left:20px;
           color:rgb(46, 46, 46);
           cursor: pointer;
       }
       input[type="radio"]{
           position: relative;
           width:26px;
           height: 26px;
           border:2px solid rgb(150, 52, 52);
           &::after{
               content:" ";
               width:20px;
               height: 20px;
               position: absolute;
               background-color: rgb(160, 37, 37);
               left:calc(50% - 10px);
               top:calc(50% - 10px);
               border-radius: 50%;
              display: none;
              transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
           }
           &:checked:after{
               display: block;
           }
           &::before{
               content:" ";
               width:10px;
               height: 10px;
               position: absolute;
               background-color: rgb(255, 255, 255);
               left:calc(50% - 5px);
               top:calc(50% - 5px);
               border-radius: 50%;
              display: none;
              transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
           }
           &:checked::before{
               display: block;
               z-index: 1;
           }
       }

      
       img{
           position: absolute;
           display: none;
       }
   }
   section .content-1 .fonts{
       position: relative;
       height:300px;
       overflow: auto;
       top:30px;
   }
   section .content-2 .fonts-size{
       position: relative;
       height:300px;
       overflow: auto;
       top:30px;
       button{
           width:45px;
           height: 45px;
           border:1px solid rgb(36, 36, 36);
           margin-left:15px;
           margin-top: 20px;
           outline: none;
           background-color: transparent;
           font-size: 17px;
           font-weight: bold;
           border-radius: 7px;
           transition: 0.3s ease-in-out;
       }
   }
section .content-3 .colors{
   position: relative;
   height:300px;
   overflow: auto;
   top:10px;
   button{
       position: relative;
       width:50px;
       height:50px;
       background-color: white;
       border:1px solid black;
       margin-left:10px;
       margin-top:10px;
       border-radius: 7px;
       outline: none;
       &:nth-child(1)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: black;
       }
       &:nth-child(2)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: red;
       }
       &:nth-child(3)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: green;
       }
       &:nth-child(4)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color:rgb(240, 98, 122);
       }
       &:nth-child(5)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(92, 9, 148);
       }
       &:nth-child(6)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(221, 131, 12);
       }
       &:nth-child(7)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(26, 7, 107);
       }
       &:nth-child(8)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(3, 49, 3);
       }
       &:nth-child(9)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(206, 36, 149);
       }

       &:nth-child(10)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(107, 107, 107);
       }
       &:nth-child(11)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(156, 91, 16);
       }
       &:nth-child(12)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(51, 12, 112);
       }
       &:nth-child(13)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(16, 99, 148);
       }
       &:nth-child(14)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(201, 34, 145);
       }
       
       &:nth-child(15)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(0, 107, 150);
       }
       &:nth-child(16)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(45, 36, 165);
       }
       &:nth-child(17)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(117, 8, 8);
       }

       &:nth-child(18)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(0, 53, 0);
       }
       &:nth-child(19)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(216, 161, 11);
       }
       &:nth-child(20)::before{
           content: " ";
           width:40px;
           height: 40px;
           position:absolute;
           left:calc(50% - 20px);
           top:calc(50% - 20px);
           border-radius: 5px;
           background-color: rgb(168, 204, 8);
       }
     
       
   }
}
   section .content-1 h3,.content-2 h3,.content-3 h3,.content-4 h3{
       text-align: center;
   }
section .content .title{
   margin-top:10px;
}
section{
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width:100%;
    
    .md-close{
        position: absolute;
        font-size: 20px;
        right:40px;
        color:gray;
        background-color: transparent;
        border:none;
        outline:none;
    }
}
.horizontal{
    height: 270px;
}
#md-section{
    display: block;
}

    
    nav{
        background-color: white;
    .md-head{
        position: fixed;
        top:0;
        width:100%;
        padding: 10px;
        display: flex;
        height: 70px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid rgb(211, 211, 211);
        background-color: rgb(255, 255, 255);


            #md-color-fill{
                position: relative;
                top:-2px;
                width:30px;
                height: 30px;
                border-radius: 5px;
                background-color: black;
            transition: 0.3s ease-in-out;
        }
        
        
        label{
            padding: 15px;
            position: absolute;
            &:nth-child(2){
                left:20%;
            }
            &:nth-child(3){
                left:40%;
            }
            &:nth-child(4){
                left:60%;
            }
        }
        button{
            position: absolute;
            padding:10px;
            height: 45px;
            outline:none;
            border:none;
            top:10px;
            left:80%;
            width:60px;
            background-color: rgb(160, 37, 37);
            font-size: 17px;
            font-weight: bold;
            color:white;
            border-radius: 5px;
            box-shadow: 3px 3px 6px rgb(209, 68, 68);
        }
}
    }
  }
  .empy{
      display: none;
      visibility: hidden;
  }
}